<div class="nav_container">
  <div class="logo">
    <img src="assets/logo.png" alt="ballhubname">


  </div>
  <div class="menu">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
  <div class="search">
    <input type="text" placeholder="enter keyword">
  </div>

</div>
<section>

  <div class="main_container">
    <div class="content">

      <h2>Welcome to BallHub</h2>
      <p> Your Ultimate Movie Streaming Experience! That's fantastic! Starting to program is like opening a door to a
        whole new world of creativity and
        problem-solving.<br> CodePen is a great platform for experimenting with code, sharing your projects, and
        learning from others. What are you working on right now?</p>
      <button>Let's Goo!</button>
    </div>

  </div>
</section>