<section>

  <div class="main_container">

    <div class="content">

      <div>
        <img src="assets/realball.png" alt="BallHub Logo" class="logo1">
      </div>
      <h2 class="welcome">Welcome to BallHub</h2>
      <p> Your Ultimate Movie Streaming Experience! That's fantastic! Starting to program is like opening a door to a
        whole new world of creativity and
        problem-solving.<br> CodePen is a great platform for experimenting with code, sharing your projects, and
        learning from others. What are you working on right now?</p>

      <br>
      <button>Let's Start!</button>
    </div>

  </div>

</section>


<div class="container">
  <h2>หาแพ็กเกจที่เหมาะกับคุณที่สุด</h2>
  <p class="highlight">ประหยัดได้สูงสุดถึง 42%</p>

  <!-- Toggle Switch -->
  <div class="toggle-container">
    <button [class.active]="isMonthly" (click)="setPlan(true)">รายเดือน</button>
    <button [class.active]="!isMonthly" (click)="setPlan(false)">รายปี</button>


  </div>
  <div>
    <!-- แสดงข้อมูลแพ็กเกจ -->
    <div class="plans">
      <div class="plan">
        <h3>มาตรฐาน</h3>
        <ul>
          <li>สตรีมบนอุปกรณ์ 2 เครื่องพร้อมกัน</li>
          <li>ความละเอียดระดับ Full HD</li>
          <li>รับชมบนอุปกรณ์อื่นๆ ได้มากขึ้น</li>
          <li>ดาวน์โหลดได้ {{ isMonthly ? '30' : '50' }} เรื่อง</li>
        </ul>
        <p class="price">฿{{ isMonthly ? '199' : '1,999' }}/{{ isMonthly ? 'เดือน' : 'ปี' }}</p>
        <button class="select-btn">โปรดเลือกแพ็กเกจ</button>
      </div>

      <div class="plan premium">
        <h3>อัลติเมท</h3>
        <ul>
          <li>สตรีมบนอุปกรณ์ 4 เครื่องพร้อมกัน</li>
          <li>4K UHD และ Dolby Atmos</li>
          <li>รับชมบนอุปกรณ์อื่นๆ ได้มากขึ้น</li>
          <li>ดาวน์โหลดได้ {{ isMonthly ? '100' : '150' }} เรื่อง</li>
        </ul>
        <p class="price">฿{{ isMonthly ? '299' : '2,999' }}/{{ isMonthly ? 'เดือน' : 'ปี' }}</p>
        <button class="select-btn">โปรดเลือกแพ็กเกจ</button>
      </div>
    </div>
  </div>
</div>




<body>

  <div class="slider">

    <div class="slide-track">
      <div class="slide">
        <img src="assets/aa.jpg">
      </div>
      <div class="slide">
        <img src="assets/bb.jpg">
      </div>
      <div class="slide">
        <img src="assets/cc.jpg">
      </div>
      <div class="slide">
        <img src="assets/dd.jpg">
      </div>
      <div class="slide">
        <img src="assets/ee.jpg">
      </div>
      <div class="slide">
        <img src="assets/ff.jpg">
      </div>
      <div class="slide">
        <img src="assets/11.jpg">
      </div>
      <div class="slide">
        <img src="assets/22.jpg">
      </div>
      <div class="slide">
        <img src="assets/33.jpg">
      </div>
      <div class="slide">
        <img src="assets/44.jpg">
      </div>
      <div class="slide">
        <img src="assets/55.jpg">
      </div>
      <div class="slide">
        <img src="assets/66.jpg">
      </div>
      <!-- <div class="slide">
        <img src="assets/hh.jpg">
      </div> -->


      <div class="slide">
        <img src="assets/aa.jpg">
      </div>
      <div class="slide">
        <img src="assets/bb.jpg">
      </div>
      <div class="slide">
        <img src="assets/cc.jpg">
      </div>
      <div class="slide">
        <img src="assets/dd.jpg">
      </div>
      <div class="slide">
        <img src="assets/ee.jpg">
      </div>
      <div class="slide">
        <img src="assets/ff.jpg">
      </div>
      <!-- <div class="slide">
        <img src="assets/hh.jpg">
      </div> -->
    </div>
  </div>
</body>

<!-- <section>
  <div class="part2main">

  </div>
</section> -->
<section>
  <div class="part3main">

  </div>

</section>