<section>

  <div class="main_container">

    <div class="content">

      <div>
        <img src="assets/realball.png" alt="BallHub Logo" class="logo1">
      </div>
      <h2 class="welcome">Welcome to BallHub</h2>
      <p> Your Ultimate Movie Streaming Experience! That's fantastic! Starting to program is like opening a door to a
        whole new world of creativity and
        problem-solving.<br> CodePen is a great platform for experimenting with code, sharing your projects, and
        learning from others. What are you working on right now?</p>

      
      <button>Let's Start!</button>
    </div>

  </div>

</section>

<body>
 <h1><strong>A Brand New Streaming Experience</strong></h1>
  <div class="slider">
 
    <div class="slide-track">
      <div class="slide">
        <img src="assets/aa.jpg">
      </div>
      <div class="slide">
        <img src="assets/bb.jpg">
      </div>
      <div class="slide">
        <img src="assets/cc.jpg">
      </div>
      <div class="slide">
        <img src="assets/dd.jpg">
      </div>
      <div class="slide">
        <img src="assets/ee.jpg">
      </div>
      <div class="slide">
        <img src="assets/ff.jpg">
      </div>
      <div class="slide">
        <img src="assets/11.jpg">
      </div>
      <div class="slide">
        <img src="assets/22.jpg">
      </div>
      <div class="slide">
        <img src="assets/33.jpg">
      </div>
      <div class="slide">
        <img src="assets/44.jpg">
      </div>
      <div class="slide">
        <img src="assets/55.jpg">
      </div>
      <div class="slide">
        <img src="assets/66.jpg">
      </div>
      <!-- <div class="slide">
        <img src="assets/hh.jpg">
      </div> -->


      <div class="slide">
        <img src="assets/aa.jpg">
      </div>
      <div class="slide">
        <img src="assets/bb.jpg">
      </div>
      <div class="slide">
        <img src="assets/cc.jpg">
      </div>
      <div class="slide">
        <img src="assets/dd.jpg">
      </div>
      <div class="slide">
        <img src="assets/ee.jpg">
      </div>
      <div class="slide">
        <img src="assets/ff.jpg">
      </div>
      <!-- <div class="slide">
        <img src="assets/hh.jpg">
      </div> -->
    </div>
  </div>
</body>

<!-- <section>
  <div class="part2main">

  </div>
</section> -->
<section>
  <div class="part3main">

  </div>
</section>