<div class="nav_container">
  <div>
    <a href="">
      <img class="logo" src="assets/logo.png" alt="ballhubname">
    </a>



  </div>
  <div class="menu">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="#">TVShow</a></li>
      <li><a href="movie-list">Movies</a></li>
      <li><a href="#">Kids</a></li>
    </ul>
  </div>
  <div class="login">
    <div>
      <li><a href="login">Login</a></li>
    </div>
    <!-- <input type="text" placeholder="enter keyword"> -->
  </div>

</div>